.dialogs {
    display: grid;
    grid-template-columns: 5fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    display: flex;
    justify-content: space-between;
}

.messages {
    padding: 10px;
}

.message {
}
